<!-- Footer -->
     <section id="footer" class="footer-section panel-footer">
      <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <ul class="social-links">
                <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                <li><a href="https://twitter.com/JcdEnterprises"><i class="fa fa-twitter"></i></a></li>
                <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
              </ul>
            </div>
            <div class="col-md-6">
              <p class="text-right">Designed by: <a target="_blank" href="http://www.jaycdave.com" data-toggle="tooltip" title="Visit my other site!">Jay C. Davé</a></p>
            </div>
          </div>
        </div>
      </footer>
    </section>