<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  


<footer>
  <div class="container">
    <div class="row no-margin"> 

      <!-- ABOUT -->
      <div class="col-sm-4"> <%= image_tag("logo-footer")  %>
        <p>Please follow us on social media to stay up-to-date with company related new.</p>
        <ul class="social">
          <li><a href="#."><i class="fa fa-facebook"></i></a></li>
          <li><a href="#."><i class="fa fa-twitter"></i></a></li>
          <li><a href="#."><i class="fa fa-google"></i></a></li>
          <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>

      <!-- Get in touch -->
      <div class="col-sm-4">
        <h6>Get in touch</h6>
        <ul class="row location no-padding">
          <li class="col-xs-12">
            <p><i class="fa fa-map-marker"></i> Chicago, IL, United States</p>
          </li>
          <li class="col-xs-12">
            <p><i class="fa fa-phone"></i> Call us : + 124 45 78 678 </p>
          </li>
          <li class="col-xs-12">
            <p><i class="fa fa-envelope-o"></i> Email us : j_ruffino@chicagoclosetandgarage.com</p>
          </li>
        </ul>
      </div>

      <!-- Business Hours -->
      <div class="col-sm-4">
        <h6>Business Hours</h6>
        <ul class="row location no-padding">
          <li class="col-xs-12">
            <p> Monday to Friday : 9 am to 8 pm</p>
          </li>
          <li class="col-xs-12">
            <p>Saturday : 10 am to 4 pm</p>
          </li>
          <li class="col-xs-12">
            <p>Sunday : Closed</p>
          </li>
          <li class="col-xs-12">
            <p>Support Hours in 24/7 Everyday </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- RIGHTS -->
<div class="rights">
  <p> Copyright &copy; 2015    All Rights Reserved </p>
  <p style="font-size:12px; color:#d3d3d3"> Designed by: <a id="jcd_info_link" href="http://www.jcdenterprisesinc.com">JCD Enterprises, Inc.</a></p>
</div>
</div>