<%= stylesheet_link_tag "load_screen", :id=>'screenCSS'%>

<div id="loader-wrapper">
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  <div id="loading-wrapper">
  <div id="loading-text">LOADING</div>
  <div id="loading-content"></div>
</div>

</div>
<%= javascript_include_tag "loadscreen", :id=>'screenJS' %>