<div class="no-dots">
  <section class="welcome padding-top-150 padding-bottom-150">
    <div class="container"> 

      <!-- Heading -->
      <div class="heading text-center">
        <h3>We Are <span>Best At</span></h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at mi ac arcu iaculis scelerisque. Suspendisse vitae ligula sit amet massa congue rutrum. Curabitur libero ipsum, elementum ut feugiat eget, elementum nec nibh. Sed convallis tincidunt malesuada. Donec tempor metus nulla, nec cursus leo porttitor nec. Suspendisse potenti. Curabitur porta tempor est at tempus. Morbi quis maximus quam. Cras vel porttitor sem, et pulvinar ligula. Aliquam tempus est ut justo fringilla, quis convallis mi suscipit. In ullamcorper dictum ante vitae dignissim.</p>
      </div>

      <!-- INTRO SERVICES -->
      <ul class="row">

        <!-- best house renovation -->
        <li class="col-md-4"> <%  %>
          <div class="intro-ser">
            <div class="tag"><%  %></div>
            <h6 class="font-normal no-margin margin-bottom-20">HEADER</h6>
            <p class="line-height-22">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            <a href="#" class="font-pt">read more</a> </div>
          </li>
          
          <!-- Design and build -->
          <li class="col-md-4"> <%  %>
            <div class="intro-ser">
              <div class="tag"><%  %></div>
              <h6 class="font-normal no-margin margin-bottom-20">HEADER</h6>
              <p class="line-height-22">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
              <a href="#" class="font-pt">read more</a> </div>
            </li>

            <!-- best house renovation -->
            <li class="col-md-4"> <%  %>
              <div class="intro-ser">
                <div class="tag"><%  %></div>
                <h6 class="font-normal no-margin margin-bottom-20">HEADER</h6>
                <p class="line-height-22">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                <a href="#" class="font-pt">read more</a> </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- What we offer -->
        <section class="padding-top-150 padding-bottom-150 light-gray-bg">
          <div class="container"> 
            <!-- HEADING -->
            <div class="heading text-center">
              <h3> What <span>we Offer</span></h3>
              <hr>
            </div>

            <!-- We Are Good -->
            <ul class="row we-are-good">

              <!-- CONSTRUCTION -->
              <li class="col-md-4">
                <article>
                  <div class="media-left">
                    <div class="icon"><%  %></div>
                  </div>
                  <div class="media-body">
                    <h6 class="font-normal margin-bottom-10">CONSTRUCTION</h6>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                  <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                </li>

                <!-- Interior Design -->
                <li class="col-md-4">
                  <article>
                    <div class="media-left">
                      <div class="icon"><%  %></div>
                    </div>
                    <div class="media-body">
                      <h6 class="font-normal margin-bottom-10">Interior Design</h6>
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                  </li>

                  <!-- Consulting -->
                  <li class="col-md-4">
                    <article>
                      <div class="media-left">
                        <div class="icon"><%  %></div>
                      </div>
                      <div class="media-body">
                        <h6 class="font-normal margin-bottom-10">Consulting</h6>
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                      <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                    </li>

                    <!-- Special Projects -->
                    <li class="col-md-4">
                      <article>
                        <div class="media-left">
                          <div class="icon"><%  %></div>
                        </div>
                        <div class="media-body">
                          <h6 class="font-normal margin-bottom-10">Special Projects</h6>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                      </li>

                      <!-- Design and build -->
                      <li class="col-md-4">
                        <article>
                          <div class="media-left">
                            <div class="icon"></div>
                          </div>
                          <div class="media-body">
                            <h6 class="font-normal margin-bottom-10">Design and build</h6>
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                          <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                        </li>

                        <!-- house renovation -->
                        <li class="col-md-4">
                          <article>
                            <div class="media-left">
                              <div class="icon"><%  %></div>
                            </div>
                            <div class="media-body">
                              <h6 class="font-normal margin-bottom-10">house renovation</h6>
                              <p>Lorem ipsum dolor sit amet</p>
                            </div>
                            <a href="#." class="go"><i class="fa fa-angle-right"></i></a> </article>
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>

                  <%= render('footer')  %>