<div class="ajax-page-container">

  <style type="text/css">

    /* ---- General ---- */
    * {
      box-sizing: border-box;
    }

    #menu-toggle {
      z-index: 10;
    }

    /* ---- Isotope ---- */
    .grid {
      background: #DDD;
      margin-top: 4%;
      max-height: 750px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    /* ---- Clear Fix ---- */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    /* ---- .grid-item ---- */
    .grid-sizer, .grid-item {
      width: 20.333%;
    }

    .grid-item {
      position: relative;
      float: left;
      width: 250px;
      height: auto;
      /*margin: 5px auto;*/
      /*padding: 5px;*/
      background: #c4b5b5;
      color: #262524;
    }

    .grid-item img {
      display: block;
      max-width: 100%;
    }

    .grid-item > * {
      margin: 0;
      padding: 0;
    }
  </style>

   <div class="grid">
     <div class="grid-sizer"></div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
     </div>
     <div class="grid-item">
       <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
     </div>
     <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
          </div>
          <div class="grid-item">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
          </div>
   </div>

  <%= javascript_include_tag "gallery.pkgd.min" %>

  <script>
    docReady( function() {

      var grid = document.querySelector('.grid');

      var iso = new Isotope( grid, {
        itemSelector: '.grid-item',
        percentPosition: true,
        layoutMode: 'fitRows',
        masonry: {
          // columnWidth: '.grid-sizer'
          columnWidth: 100,
          isFitWidth: true
        }
      });

      imagesLoaded( grid, function() {
        iso.layout();
      });

    });
  </script>

</div>
