/***** Need to get moved to general layout *****/
#page-content-wrapper {
  padding: 0px;
  position: fixed;
}
#menu-toggle {
  z-index: 2;
}
/***** End general layout styles *****/

#main-carousel .item img {
    z-index: 1;
    top: 0;
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.6;
}
