<%= stylesheet_link_tag "bootstrap-carosel" %>

<!-- <section id="pattern" class="pattern">
  <ul class="grid">
  <li class="full">
      <div>
        <div class="carousel">
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/s_v/suki-film-vogue-9jul15-grab_b2.jpg" />
            </div>
            <div class="overlay">
              <h3>Title for OVERLAY 1 - h3</h3>
              <p>Body for OVERLAY 1 - p</p>
            </div>
          </div>
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/o_r/Olivia-Vestiaire-HOLDING-Still-02-36-vogue-1jul15-grab_878.jpg" />
            </div>

            <div class="overlay">
              <h3>Title for OVERLAY 2 - h3</h3>
              <p>Body for OVERLAY 2 - p</p>
            </div>
          </div>
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/s_v/tennis-film-still-1-vogue-29jun15-grab_b.jpg" />       
            </div>
            <div class="overlay">
              <h3>Title for OVERLAY 3 - h3</h3>
              <p>Body for OVERLAY 3 - p</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
</section>
 --><!--End Pattern HTML-->
 <div class="carousel">
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/s_v/suki-film-vogue-9jul15-grab_b2.jpg" />
            </div>
            <div class="overlay">
              <h3>Title for OVERLAY 1 - h3</h3>
              <p>Body for OVERLAY 1 - p</p>
            </div>
          </div>
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/o_r/Olivia-Vestiaire-HOLDING-Still-02-36-vogue-1jul15-grab_878.jpg" />
            </div>

            <div class="overlay">
              <h3>Title for OVERLAY 2 - h3</h3>
              <p>Body for OVERLAY 2 - p</p>
            </div>
          </div>
          <div class="item">
            <div class="imageContainer">
              <img src="http://cdni.condenast.co.uk/1566x878/s_v/tennis-film-still-1-vogue-29jun15-grab_b.jpg" />       
            </div>
            <div class="overlay">
              <h3>Title for OVERLAY 3 - h3</h3>
              <p>Body for OVERLAY 3 - p</p>
            </div>
          </div>
        </div>

<%= javascript_include_tag "carousel" %>