<%= stylesheet_link_tag "bootstrap-carosel" %>

<div class="carousel">
  <div class="item">
    <div class="imageContainer">
      <img src="http://i1030.photobucket.com/albums/y369/j_ruffino/El6m5vFJDMcb5aRXF-YWGeTNhHVAvE1cBi9MHXj4QA48hXE-PnGUfCFo_l-yvarEH41r4LeMnao7v6ruw0QIboxMMODSNP5WLwJBl8PezhiQd5tjk_0YPr2my0rR_zpspn9snrhg.jpg"alt=" photo El6m5vFJDMcb5aRXF-YWGeTNhHVAvE1cBi9MHXj4QA48hXE-PnGUfCFo_l-yvarEH41r4LeMnao7v6ruw0QIboxMMODSNP5WLwJBl8PezhiQd5tjk_0YPr2my0rR_zpspn9snrhg.jpg"/> 
      
    </div>
    <div class="overlay">
      <h3>Title for OVERLAY 1 - h3</h3>
      <p>Body for OVERLAY 1 - p</p>
    </div>
  </div>
  <div class="item">
    <div class="imageContainer">
      <img src="http://i1030.photobucket.com/albums/y369/j_ruffino/closet3_zpsr8odnrki.jpg" alt=" photo closet3_zpsr8odnrki.jpg"/>
    </div>

    <div class="overlay">
      <h3>Title for OVERLAY 2 - h3</h3>
      <p>Body for OVERLAY 2 - p</p>
    </div>
  </div>
  <div class="item">
    <div class="imageContainer">
      <img src="http://i1030.photobucket.com/albums/y369/j_ruffino/closet2_zpstqu0wnx4.jpg" alt=" photo closet2_zpstqu0wnx4.jpg"/>   
    </div>
    <div class="overlay">
      <h3>Title for OVERLAY 3 - h3</h3>
      <p>Body for OVERLAY 3 - p</p>
    </div>
  </div>
</div>

<%= javascript_include_tag "carousel" %>